.App {
  text-align: center;
  background-image: url('../images/mikael-kristenson-2YWymeP3cJM-unsplash.jpg');
  background-size: cover;
  background-position: bottom;
}

button {
  border-radius: 5px;
  background-color: rgb(242, 129, 0);
  color: white;
  padding: 15px 30px;
  margin: 5px;
  border: 1px black solid;
}

