.trick-settings {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: black;
    z-index: 100;
    color: white;
    text-align: left;
    line-height: 120%;

    label{
        font-size: 80%;
    }
}