.trick-settings {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 20%;
    background: rgb(37, 36, 35);
    z-index: 100;
    color: white;
    text-align: center;
    line-height: 130%;
    border-radius: 10px;

    label{
        font-size: 80%;
    }
}